body {
  font-size: 14px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.common-website-icon {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  animation: spin 0.5s ease-in-out forwards;
}

@keyframes spin {
  0% {
    transform: translate(0, -30px) rotate(10deg);
    opacity: 0.2;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
}